/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 0 20px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

p {
  font-size: 24px;
  line-height: 1.5em;
  margin: 10px;
}

li {
  font-size: 24px;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  margin-bottom: 30px;
}


/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
  margin: 10px;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 96px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 20px;
  justify-content: space-between;
}

form div {
  display: flex;
  justify-content: space-between;
  padding: 8px 5px;
}

form label {
  font-weight: bold;
  font-size: 20px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}








/* -------  Media Query ------- */
@media all and (min-width: 768px){
  header {
    display: flex;
    justify-content: space-between;
  }

  h2 {
    justify-content: content;
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  li {
    font-size: 18px;
  }

  /* -------  Navigation ------- */
  .logo {
    font-size: 36px;
    margin-bottom: 15px;
  }

  header nav ul {
    margin-top: 10px;
  }

  header nav ul li {
    font-size: 18px;
  }

  button {
    margin-right: 15px;
  }

  /* ---  Groups & Items --- */
  .group {
    display: flex;
    flex-direction: row;
  }

  .item {
    flex: 1;
    padding-right: 15px;
  }

  .item-double{
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    justify-content: center;
    align-content: center;
  }

  

  /* -------  Search Form ------- */
  form {
    padding: 15px 0 10px 10px;
    display: flex;
    justify-content: space-between;
  }
  
  form div {
    padding-right: 2%;
    flex-direction: column;
  }

  form label {
    font-size: 18px;
  }

}